* {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.chat .inner input[type="text"],
.chat .inner input[type="submit"] {
  width: 100%;
  border: 0;
  border-top: 1px solid rgb(212, 212, 212);
  border-bottom: 1px solid rgb(212, 212, 212);
  padding: 0.5rem;
}

.chat .inner input[type="submit"] {
  border-top: 0;
  background: 1px solid rgb(235, 235, 235);
}

.chat .inner .message {
  padding: 0.25rem 0;
}

.chat .inner .message:nth-child(odd) {
  background-color: rgb(237, 247, 255);
}

.chat-container {
  padding: 15px;
}

.chat-container .chat {
  position: relative;
  height: 85vh;
  width: 100%;
  border: 1px solid rgb(109, 185, 247);
}

.chat-container .chat .inner {
  width: 100%;
  position: absolute;
  bottom: 0px;
  max-height: 80vh;
}

.chat-container .chat .inner .message-wrapper {
  overflow: auto;
  max-height: 60vh;
}

.chat-container h1 {
  text-align: center;
}
