.__rival_text-field {
  position: relative;
}

.__rival_text-field .__rival_text-field-component {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.__rival_text-field .errors {
  position: absolute;
  text-align: right;
  right: 0.5rem;
  top: 20%;
  color: red;
  z-index: 1;
}

.__rival_text-field {
  display: block;
  margin-bottom: 16px;
}

.__rival_text-field.is-focused .control::after {
  border-bottom: 2px solid rgb(69, 134, 231);
  transform: scaleX(150);
}

.__rival_text-field.is-focused .control label {
  color: rgb(69, 134, 231);
  font-size: 0.75rem;
  transform: translateY(-14px);
}

.__rival_text-field.has-value .control label {
  font-size: 0.75rem;
  transform: translateY(-14px);
}

.__rival_text-field .control {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.__rival_text-field .control::after {
  border-bottom: 2px solid rgb(69, 134, 231);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: all 400ms;
  width: 1%;
}

.__rival_text-field .control input {
  appearance: none;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #999;
  color: #333;
  display: block;
  font-size: 1.2rem;
  margin-top: 24px;
  outline: 0;
  padding: 0 12px 10px 12px;
  width: 100%;
}

.__rival_text-field .control label {
  display: block;
  font-size: 1.2rem;
  font-weight: normal;
  left: 0;
  margin: 0;
  padding: 18px 12px 0;
  position: absolute;
  top: 0;
  transition: all 400ms;
  width: 100%;
}
