.__rival_text-field {
  position: relative;
}

.__rival_text-field .__rival_text-field-component {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
}

.__rival_text-field .errors {
  position: absolute;
  text-align: right;
  right: 0.5rem;
  top: 20%;
  color: red;
  z-index: 1;
}