.__rival_button {
  /* border: 1px solid rgb(49, 47, 47); */
  background-color: #D20A0B;
  color: #FFFFFF;
  padding: 0.5rem 1.5rem;
  /* border-radius: 3px; */
  border: none;
}

.__rival_button_secondary {
  color: #D20A0B;
  background-color: #FFFFFF;
  border: 1px solid  #D20A0B;
  padding: 0.5rem 1.5rem;
}

.__rival_button:disabled, .__rival_button_secondary:disabled {
  border: 1px solid rgb(124, 95, 95);
  background-color: rgb(228, 228, 228);
  color: rgb(160, 160, 160);
}
