div.horizontal {
  margin: 0;
  padding: 0;
  grid-template-columns: 16vw 16vw 16vw 16vw 16vw 16vw;
  column-gap: 5px;
  display: grid;
}

div.horizontal span.active {
  background-color: #d20a0b;
  color: #ffffff;
}
div.horizontal span {
  padding: 5px 6px;
  margin-right: 3px;
  text-align: center;
}

@media (max-width: 450px) {
  div.horizontal {
    grid-template-columns: 34px 39px 66px 62px 64px 66px;
  }
}
