div.horizontal {
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 5px;
  display: grid;
}

div.horizontal span.active {
  background-color: #d20a0b;
  color: #ffffff;
}
div.horizontal span {
  padding: 5px 6px;
  text-align: center;
}

@media (max-width: 375px) {
  div.horizontal {
    grid-template-columns: 28px 36px 61px 59px 62px 64px;
    column-gap:0;
  }
}
