li span {
  padding: 0.5rem 1rem;
}

li span.active {
  color: white;
  background-color: #e06c6c;
}

div#contract-jumbotron * {
  font-family: sans-serif !important;
}

div#contract-jumbotron img {
  position: absolute;
  z-index: -1;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
}

div#contract-jumbotron h5 {
  font-size: 17px;
}

div#contract-jumbotron h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

div.red-and-blue {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

div.red-corner-wrap {
  margin-right: 30px;
  width: 49%;
  float: left;
  border: 1px solid #000000;
}

div.red-corner-wrap h2 {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

div.red-corner-wrap h3 {
  margin: 0 0 4px 0;
  padding-left: 18px;
  font-size: 17px;
}

div.red-corner-wrap h3:nth-of-type(2),
div.blue-corner-wrap h3:nth-of-type(2) {
  margin-bottom: 14px;
}

div.red-corner-wrap h3:first-of-type,
div.blue-corner-wrap h3:first-of-type {
  text-transform: capitalize;
}

div.red-corner-wrap h3:last-of-type,
div.blue-corner-wrap h3:last-of-type {
  margin-bottom: 34px;
}

div.red-corner-wrap span {
  float: left;
  width: 90%;
  margin: 0 5% 20px;
  border-bottom: 1px solid #000000;
}

div.blue-corner-wrap {
  width: 49%;
  float: right;
  border: 1px solid #000000;
}

div.blue-corner-wrap h2 {
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

div.blue-corner-wrap h3 {
  margin: 0 0 4px 0;
  padding-left: 18px;
  font-size: 17px;
}

div.blue-corner-wrap span {
  float: left;
  width: 90%;
  margin: 0 5% 20px;
  border-bottom: 1px solid #000000;
}

div.lower-match-details {
  margin-bottom: 30px;
}

div.match-result {
  margin-bottom: 24px;
}

div.match-result h5 {
  margin-bottom: 17px;
}

div.match-result h3 {
  font-size: 17px;
}

div.lower-match-details {
  width: 100%;
  float: left;
}

div.lower-match-details h3 {
  font-size: 17px;
}

div.lower-match-details-left {
  float: left;
  margin-right: 50px;
}

div.lower-match-details-middle {
  float: left;
  margin-right: 50px;
  max-width: 39%;
}

div.lower-match-details-right {
  float: left;
}

div.player-comments {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

div.player-comments h3 {
  font-size: 17px;
  margin-bottom: 26px;
}

div.player-comments span {
  float: left;
  width: 100%;
  border-bottom: 1px solid #000000;
}

div.match-result h3 {
  font-size: 17px;
}

div.match-result h3:nth-of-type(6) {
  margin-bottom: 28px;
}

div.match-result h3:nth-of-type(7) {
  margin-bottom: 18px;
}

div.post-match h3 {
  font-size: 28px;
  margin-bottom: 18px;
}
.date-picker {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 250px;
}
.my-contract-container {
  padding: 15px;
}
.my-contract-container h1 {
  text-align: center;
}

@media (max-width: 600px) {
  .single-row .__rival_button {
    padding: 0;
    font-size: 14px;
  }
}

.issue-challenge-popup {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 90vw;
  z-index: 100;
  border-radius: 0.25rem;
  background-color: white;
  display: block;
  border: 1px solid black;
  padding: 2rem;
}

.issue-challenge-popup .close-wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
}

.issue-challenge-popup .close-wrapper img {
  height: 18px;
}

.issue-challenge-popup .contract-action {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.issue-challenge-popup #contract-detail h3 {
  text-align: center;
  margin-bottom: 30px;
}

.issue-challenge-popup #contract-detail .title {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.3px;
  color: #939393;
  display: flex;
}

.issue-challenge-popup #contract-detail .info,
.issue-challenge-popup
  #contract-detail
  .info
  .react-datepicker-wrapper
  .react-datepicker__input-container
  input {
  margin-left: 3px;
  font-size: 19px;
  letter-spacing: -0.3px;
  font-weight: 500;
  color: #000000;
  position: relative;
  text-transform: capitalize;
  top: -3px;
}

.issue-challenge-popup #contract-detail .info .react-datepicker-wrapper {
  position: relative;
  top: 3px;
}

@media (max-width: 375px) {
  .issue-challenge-popup {
    top: 20%;
  }
}

.issue-contract-container {
  padding: 15px;
}

.issue-contract-container h1 {
  text-align: center;
}

.issue-contract-container h3 span,
.issue-contract-container h5 span,
.issue-contract-container div.fee-note span {
  color: #d20a0b;
}

.issue-contract-container h3 {
  text-align: center;
}

.issue-form {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 31px rgba(77, 77, 77, 0.05);
  padding: 10px;
  display: grid;
  grid-row-gap: 25px;
}

.issue-form .__rival_text-field-component {
  width: 100%;
  border: 1px solid #e2e2e2;
  height: 40px;
}

.issue-contract-container div.fee-note {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 31px rgba(77, 77, 77, 0.05);
  padding: 10px;
}

.issue-form .accept-rule {
  margin: 0;
}

.issue-contract-container .issue-notice h4 {
  color: #939393;
  font-weight: 400;
}

.issue-contract-container .issue-notice h3 {
  line-height: 40px;
}

.submit-btn {
  margin-right: 15px;
}
