:root {
  --white: #fff;
  --black: #333;
  --grey: #999;
  --light-grey: rgb(219, 219, 219);
  --primary-color: rgb(69, 134, 231);
  --error-color: rgb(233, 49, 73);
  font-size: 16px;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: #F8F8F8;
}

.container {
  max-width: 800px;
  margin: 1rem auto;
}
