:root {
  --white: #fff;
  --black: #333;
  --grey: #999;
  --light-grey: rgb(219, 219, 219);
  --primary-color: rgb(69, 134, 231);
  --error-color: rgb(233, 49, 73);
  font-size: 16px;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background-color: #F8F8F8 !important;
}

.container {
  max-width: 800px;
  margin: 1rem auto;
}

.text-truncation-second-line {
	padding: 0 4px;
	white-space: pre-line;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
}


.table-match-history .row-container {
  display: flex;
  flex-direction: column;
}
.table-match-history .col-head {
  letter-spacing: -0.3px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.table-match-history .row-container .first-row {
  letter-spacing: -0.3px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
}
.table-match-history .row-container .second-row {
  letter-spacing: -0.3px;
  color: #939393;
  font-weight: 400;
  font-size: 16px;
}

.table-match-history tr td {
  padding: 0 5px;
}
.table-match-history .result-win {
  background: rgba(3, 154, 27, 0.2);
  border: 1px solid #039a1b;
  box-sizing: border-box;
  color: #039a1b;
  text-align: center;
  text-transform: capitalize;
  max-width: 50px;
}
.table-match-history .result-loss {
  color: #d20a0b;
  background: rgba(210, 10, 11, 0.2);
  border: 1px solid #d20a0b;
  box-sizing: border-box;
  text-align: center;
  text-transform: capitalize;
  max-width: 50px;
}
.table-match-history .result-draw {
  color: #e8751a;
  background: rgba(232, 117, 26, 0.2);
  border: 1px solid #e8751a;
  box-sizing: border-box;
  text-align: center;
  text-transform: capitalize;
  max-width: 50px;
}

.table-match-history .col-head.result-head {
  max-width: max-content;
  margin: 0 auto;
}

.table-match-history .row-container .first-row,
.table-match-history .row-container .second-row {
  width: max-content;
}

.table-match-history .single-row {
  width: max-content;
}

.history-wrapper .no-info {
  text-align: center;
}

.login-container {
  padding: 15px;
}

.pad-10 {
  padding: 10px !important;
}

.common-container {
  padding: 15px;
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: minmax(0, 1fr);
}

.common-container h1{
  text-align: center;
}

.common-container img {
  width: 100%;
}
.login-container h3{
  text-align: center;
}

.login-container h3 span {
  color: #D20A0B;
}

.max-content {
  width: max-content !important;
}

.table-container {
  overflow: auto;
}

.table-match-history tr td + td {
  border-left: 1px solid #E2E2E2;
}