.register-wrapper {
  padding: 15px;
}

.register-wrapper h1 {
  text-align: center;
}

.register-wrapper .two-col {
  display: grid;
  grid-template-columns: 45vw 45vw;
  grid-gap: 10px;
}

.register-wrapper h6 span {
  color: #d20a0b;
}

.register-wrapper h6 {
  text-align: center;
}

.accept-rule {
  margin: 20px 0;
}

.accept-rule input {
  width: 20px;
  height: 20px;
}
.accept-rule span {
  position: relative;
  top: -3px;
  margin-left: 10px;
  font-weight: 500;
}
.register-notice {
  padding: 15px;
}

.register-notice h1 {
  text-align: center;
}

.register-notice p {
  font-size: 19px;
  letter-spacing: -0.3px;
  font-weight: 500;
  color: #939393;
  position: relative;
  margin-top: 20px;
}

.register-notice p span{
  color: #D20A0B;
}